@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 86 47% 97%;
		--foreground: 94 28% 5%;
		--card: 86 47% 97%;
		--card-foreground: 94 28% 5%;
		--popover: 86 47% 97%;
		--popover-foreground: 94 28% 5%;
		--primary: 126 37% 55%;
		--primary-foreground: 94 28% 5%;
		--secondary: 147 94% 65%;
		--secondary-foreground: 94 28% 5%;
		--muted: 86 47% 20%;
		--muted-foreground: 93 28% 70%;
		--accent: 129 75% 60%;
		--accent-foreground: 94 28% 5%;
		--destructive: 0 85% 60%;
		--destructive-foreground: 94 28% 5%;
		--border: 86 47% 20%;
		--input: 86 47% 20%;
		--ring: 129 75% 40%;
		--radius: 1rem;
	}

	.dark {
		--background: 86 47% 3%;
		--foreground: 94 28% 95%;
		--card: 86 47% 3%;
		--card-foreground: 94 28% 95%;
		--popover: 86 47% 3%;
		--popover-foreground: 94 28% 95%;
		--primary: 126 37% 45%;
		--primary-foreground: 86 47% 3%;
		--secondary: 147 94% 35%;
		--secondary-foreground: 86 47% 3%;
		--muted: 86 47% 80%;
		--muted-foreground: 94 28% 95%;
		--accent: 129 75% 40%;
		--accent-foreground: 86 47% 3%;
		--destructive: 0 62% 30%;
		--destructive-foreground: 92 29% 10%;
		--border: 86 47% 60%;
		--input: 86 47% 80%;
		--ring: 129 75% 60%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
